<!DOCTYPE html>
<html>

<head>
  <title> Sample Bokeh Visualization </title>

  <link rel="stylesheet" href="https://cdn.bokeh.org/bokeh/release/bokeh-0.12.14.min.css" type="text/css" />
  <link rel="stylesheet" href="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-0.12.14.min.css" type="text/css" />
  <link rel="stylesheet" href="https://cdn.bokeh.org/bokeh/release/bokeh-tables-0.12.14.min.css" type="text/css">
  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" >
  <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-2.0.2.min.js"></script>
  <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-api-2.0.2.min.js"></script>
  <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.0.2.min.js"></script>
  <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.0.2.min.js"></script>

</head>

<body>
  <div>
    <div>
      <h1>Votes by County: {{ count }}</h1>
      {{ map_div|safe }}
      
      {{ map_script|safe }}
    </div>
    <div>
      <h3>Twitter Sentiment by Candidate and Election Year/Month</h3>
      {{ twt_ey_div|safe }}

      {{ twt_ey_script|safe }}
    </div>
    <div>
        <h3>Twitter Sentiment by Candidate and Economy/Party/Environment</h3>
        {{ twt_epe_div|safe }}
  
        {{ twt_epe_script|safe }}
    </div>
    <div>
        <h3>Twitter Sentiment by Candidate and Health/Immigration/Job</h3>
        {{ twt_hij_div|safe }}
  
        {{ twt_hij_script|safe }}
      </div>
  </div>
</body>

</html>
